@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

:root {
    --font-family: 'Hind Madurai', sans-serif;

    --white: #FFFFFF;
    --black: #000000;

    --gray-050: #F9FAFB;
    --gray-100: #F3F4F6;
    --gray-200: #E5E7EB;
    --gray-300: #D1D5DB;
    --gray-400: #9CA3AF;
    --gray-500: #6B7280;
    --gray-600: #4B5563;
    --gray-700: #374151;
    --gray-800: #1F2937;
    --gray-900: #111827;

    --red-050: #FEF2F2;
    --red-100: #FEE2E2;
    --red-200: #FECACA;
    --red-300: #FCA5A5;
    --red-400: #F87171;
    --red-500: #EF4444;
    --red-600: #DC2626;
    --red-700: #B91C1C;
    --red-800: #991B1B;
    --red-900: #7F1D1D;

    --amber-050: #FFFBEB;
    --amber-100: #FEF3C7;
    --amber-200: #FDE68A;
    --amber-300: #FCD34D;
    --amber-400: #FBBF24;
    --amber-500: #F59E0B;
    --amber-600: #D97706;
    --amber-700: #B45309;
    --amber-800: #92400E;
    --amber-900: #78350F;

    --green-050: #ECFDF5;
    --green-100: #D1FAE5;
    --green-200: #A7F3D0;
    --green-300: #6EE7B7;
    --green-400: #34D399;
    --green-500: #10B981;
    --green-600: #059669;
    --green-700: #047857;
    --green-800: #065F46;
    --green-900: #064E3B;

    --blue-050: #EFF6FF;
    --blue-100: #DBEAFE;
    --blue-200: #BFDBFE;
    --blue-300: #93C5FD;
    --blue-400: #60A5FA;
    --blue-500: #3B82F6;
    --blue-600: #2563EB;
    --blue-700: #1D4ED8;
    --blue-800: #1E40AF;
    --blue-900: #1E3A8A;

    --indigo-050: #EEF2FF;
    --indigo-100: #E0E7FF;
    --indigo-200: #C7D2FE;
    --indigo-300: #A5B4FC;
    --indigo-400: #818CF8;
    --indigo-500: #6366F1;
    --indigo-600: #4F46E5;
    --indigo-700: #4338CA;
    --indigo-800: #3730A3;
    --indigo-900: #312E81;

    --purple-050: #F5F3FF;
    --purple-100: #EDE9FE;
    --purple-200: #DDD6FE;
    --purple-300: #C4B5FD;
    --purple-400: #A78BFA;
    --purple-500: #8B5CF6;
    --purple-600: #7C3AED;
    --purple-700: #6D28D9;
    --purple-800: #5B21B6;
    --purple-900: #4C1D95;

    --pink-050: #FDF2F8;
    --pink-100: #FCE7F3;
    --pink-200: #FBCFE8;
    --pink-300: #F9A8D4;
    --pink-400: #F472B6;
    --pink-500: #EC4899;
    --pink-600: #DB2777;
    --pink-700: #BE185D;
    --pink-800: #9D174D;
    --pink-900: #831843;

    --twitter-color: rgb(26, 145, 218);
}

body {
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
    margin: 0;
    font-family: var(--font-family);
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto 350px;
    grid-gap: 1rem;
    max-width: 1300px;
    margin: 0 auto;
    align-items: start;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
}

input, button, select, textarea {
    -webkit-appearance: none;
    outline: none;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}




/* Skeleton Page Styles */

.user-profile-container {
    border: 1px solid var(--gray-200);

}

.user-profile-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
header {
    display: flex;

}
header button {
    background-color: white;
    border: none;
    color: var(--twitter-color);
    padding: 15px 25px;
    font-size: 20px;
}
header h2 {
    color: rgb(170, 170, 170);
    font-size: 14px;
    font-weight: normal;
}
.user-profile-details-top {
    display: flex;
    justify-content: space-between;
}
.user-profile-details-top button {
    background-color: white;
    color: var(--twitter-color);
    font-weight: bold;
    border: 1px solid var(--twitter-color);
    border-radius: 20px;
    height: 40px;
    width: 110px;
    padding: 8px;
}
.user-profile-details-content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.user-profile-name {
    font-weight: bold;
    font-size: 20px;
}
.user-profile-bio {
    padding-top: 15px;
}
.user-profile-snippets {
    list-style-type: none;
    display: flex;
    padding: 10px 0 0 0;
}
.user-profile-snippets li {
    display: inline;
    padding-right: 15px;
    box-sizing: border-box;
}
.user-profile-details a {
    text-decoration: none;
}
.user-profile-details a:hover {
    text-decoration: underline;
}
.user-profile-following-container {
    padding-top: 15px;
}
.user-profile-nav {
    width: 100%;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-200);
}
.user-profile-nav-btn {
    background-color: white;
    color: var(--gray-600);
    font-weight: bold;
    border: none;
    height: 40px;
    width: 150px;
}
.user-profile-nav-btn:hover {
    color: var(--twitter-color);
}
.user-profile-details {
    padding: 1rem;
}

/* SideBar Styles */

.side-bar-container {
    /* display: flex; */
    /* position: absolute; */
    /* flex-direction: column; */
    /* width: 230px; */
    padding-left: 1rem;
    /* padding-top: 40px; */
    padding-top: 1rem;
    position: sticky;
    top: 0;
}
.side-bar-container li {
    list-style-type: none;
}
.side-bar-btn {
    font-weight: 600;
    font-size: 20px;
    border: none;
    background-color: white;
    padding: 0 15px;
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

#side-bar-more {
    width: 284px;
}

.side-bar-btn span {
    line-height: 40px;
    vertical-align: middle;

}

.side-bar-btn:hover {
    color: var(--twitter-color);
    border-radius: 20px;
    background: rgba(29, 161, 242, 0.1);
}
.side-bar-list {
    padding: 0;
}
.side-bar-list i {
    padding-right: 1.1rem;
    height: 40px;
    width: 30px;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-bar-tweet {
    background-color: var(--twitter-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 100%;
    margin-top: 2rem;
}

.side-bar-container li:not(:last-child) {
    margin-bottom: 1rem;
}

.side-bar-logo svg {
    width: 30px;
    fill: #1a91da;
}

.side-bar-logo {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.twitter-logo-btn {
    cursor: pointer;
}

.side-bar-btn-icon-sizer svg {
    width: 28px;
}

span.side-bar-btn-icon-sizer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin-right: 1rem;
}

/* Sidebar Logout Button */

.log-out-btn {
    background-color: transparent;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 15px;
    cursor: pointer;
}

.log-out-btn2 {
    background-color: transparent;
    font-weight: bold;
    border: none;
    height: 60px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-200);
}

.log-out-btn:hover {
    background: rgba(29, 161, 242, 0.1);
}

.log-out-left-username {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

}

.log-out-left {
    display: flex;
    margin-left: 15px;
    max-width: 150px;
}

.log-out-left img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.log-out-btn i {
    margin-right: 15px;
}

.logout-hidden-container {
    height: 120px;
    width: 280px;
    position: fixed;
    bottom: 80px;
    border-radius: 20px;
    border: 1px solid var(--gray-200);
    display: none; /*Only want this to display when the user clicks on the log out div*/
}

.logout-hidden-logout-btn {
    height: 60px;
    width: 282px;
}

.logout-hidden-logout-btn a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
}

.logout-hidden-logout-btn a span {
    line-height: 55px;
    vertical-align: middle;
    padding-left: 20px;
}




.user-profile-picture {
    width: 134px;
    height: 134px;
    background: gainsboro;
    border-radius: 50%;
    margin-top: calc(-1 * (134px / 2) - 1rem);
    position: relative;
}

/*Styles that override the above class for the editprofile picture*/

#edit-profile-picture {
    width: 110px;
    height: 110px;
    margin-left: 20px;
    margin-top: -50px;
}

.user-profile-picture img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-profile-banner {
    position: relative;
    height: 200px;
}

.set-banner-default {
    width: 100%;
    height: 100%;
    background-color: var(--gray-300);
}



.user-profile-picture input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    border: 0;
    justify-content: center;
    align-items: center;
    font-size: 0;
}


/*Edit profile page with useravatar overriding above*/

#edit-profile-picture input::after {
    content: "\f030";
    font-family: 'Font Awesome 5 Pro';
    font-size: 1rem;
    z-index: 1;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    background: #0000006b;
    color: rgb(230, 216, 216);

}

/* Right Side Bar Styling */

.rightSideBar-container {
    /* display: flex; */
    /* position: absolute; */
    /* flex-direction: column; */
    /* width: 300px; */
    padding-right: 1rem;
    /* top: 50px; */
    /* right: 300px; */
    padding-top: .5rem;
    position: sticky;
    top: 0;
}

.rightsidebar-input {
    border: none;
    border-radius: 25px;
    background-color: #f9f9f9;
    width: calc(100% - 40px);
    height: 40px;
    padding-left: 40px;
}

.rightsidebar-input-container {
    position: relative;
}

.search-bar-icon {
    width: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    fill: var(--gray-400);
}

/* Search Bar Recent Drop Down Container*/

.search-container {
    height: auto;
    width: 100%;
}
.search-top {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.search-top button {
    outline: none;
    border: none;
    background: transparent;
    color: var(--twitter-color);
    font-size: 14px;
}
.recent-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-top: 1px solid var(--gray-200);
}
.recent-search-container svg {
    width: 20px;
}
.recent-search-right button {
    outline: none;
    border: none;
    background: transparent;
    
}
.recent-search-right button svg {
    fill: var(--twitter-color);
}

.no-recents-msg {
    color: gray;
    font-size: 14px;
    font-weight: none;
}


/*End of search styles*/

.rightsidebar-trending-container {
    width: 100%;
    max-height: 700px;
    background-color: #f9f9f9;
    border-radius: 15px;
    margin-top: 20px;
}

.rightsidebar-trending-top {
    height: 40px;
    border-bottom: 1px solid var(--gray-200);
    padding: 15px 0 0 15px;
}

.trending-container-header {
    font-size: 20px;
    font-weight: bold;
}

.rightsidebar-more-btn {
    width: 100%;
    color: var(--twitter-color);
    text-align: left;
    padding: 10px 0 0 15px;
    border: none;
    text-decoration: none;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    font-weight: 500;
}

.active-link {
    color: var(--twitter-color);
    font-weight: bold;
}

.rightsidebar-trending {
    display: flex;
    flex-direction: column;
}

.trending-btn {
    border: none;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    justify-content: space-between;
}

.trending-left-div {
    font-size: 14px;
    color: #646464;
    padding: 15px;
}

.trending-content {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.trending-right-div {
    width: 68px;
    height: 68px;
    margin-top: 12px;
    margin-right: 12px;
    
}
.trending-right-div img {
    width: 68px;
    height: 68px;
    object-fit: cover;
    border-radius: 10px;
    

}



.rightsidebar-who-to-follow-container {
    width: 100%;
    height: 260px;
    background-color: #f9f9f9;
    border-radius: 15px;
    margin-top: 20px;
}

.rightsidebar-who-to-follow-top {
    height: 40px;
    border-bottom: 1px solid var(--gray-200);
    padding: 15px 0 0 15px;
}

.who-to-follow-header {
    font-size: 20px;
    font-weight: bold;
}

.who-to-follow-btn {
    text-decoration: none;
    height: 80px;
    border: none;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.rightsidebar-who-to-follow {
    display: flex;
    flex-direction: column;
}

.not-already-following-btn {
    background-color: white;
    color: var(--twitter-color);
    font-weight: bold;
    border: 1px solid var(--twitter-color);
    border-radius: 30px;
    height: 30px;
    width: 80px;
    margin-right: 20px;
}





/* User Feed Styling */

.user-feed-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: 0 auto; */
    /* width: 600px; */
    border-right: 1px solid var(--gray-200);
    border-left: 1px solid var(--gray-200);
    padding-top: 1rem;
    max-width: 800px;
}

.feed-header {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid var(--gray-200);
}

.feed-header span {
    padding: 15px;
}

.feed-tweet {
    height: auto;
    padding: 10px;
    border-bottom: 1px solid var(--gray-200);
}

.feed-tweet-top {
    display: flex;
    height: auto;
}

.feed-tweet-text {
    border: none;
    width: 100%;
    resize: none;
    overflow: hidden;
    margin-left: 15px;
    margin-top: 15px;
    min-height: 80px;
    border-bottom: 1px solid var(--gray-200);
}

.feed-tweet-bottom {
    display: flex;
    height: 30%;
    justify-content: space-between;
    padding-left: 55px;
    align-items: center;
    max-height: 80px;
    padding-top: 10px;
}

.feed-tweet-profile-pic img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.feed-tweet-media-append {
    margin-left: 65px;
}

.feed-tweet-media-append img {
    border-radius: 15px;
}

.empty-feed-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 200px;
    border-bottom: 1px solid var(--gray-200);
    padding: 10px;
}
.empty-feed-div > h1 {
    font-size: 18px;
}
.empty-feed-div > span {
    text-align: center;
}
#connect-people-btn {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
}

/*Styling for the media of posts on the actual feed*/
.new-tweet-media {
    width: 500px;
    height: 280px;
}
.new-tweet-media img {
   width: 100%;
   height: 100%;
   border-radius: 15px;
   


}

img[src=""] {
    display: none; 
}

.new-tweet-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tweet-delete-btn {
    width: 20px;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    
}
.tweet-delete-btn svg {
    width: 16px;
    fill: gray;
}

.feed-tweet-icons {
    display: flex;
    justify-content: space-between;
    width: auto;
    
}

.feed-tweet-icons button {
    border: none;
    background-color: var(--white);
    color: var(--twitter-color);
    font-size: 18px;
    outline: none;
    background: transparent;
}

.new-tweet-icons svg {
    width: 1.25em;
    height: 1.25em;
    fill: gray;
}
.new-tweet-icons span {
    color: gray;
}
.tweet-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Like button styles*/
#liked-svg {
    fill: red;
}

#liked-span {
    color: red;
}
.tweet-icon-wrapper[data-feed-button="like"]:hover span {
    color: red;
}
.tweet-icon-wrapper[data-feed-button="like"]:hover #tweet-icon-div {
    border-radius: 50%;
    background-color: var(--red-100);
}
.tweet-icon-wrapper[data-feed-button="like"]:hover svg {
    fill: red;
}

/*Retweet button styles*/
#retweeted-svg {
    fill: rgb(23, 191, 99);
}
#retweeted-span {
    color: rgb(23, 191, 99);
}
.tweet-icon-wrapper[data-feed-button="retweet"]:hover span {
    color: rgb(23, 191, 99);
}
.tweet-icon-wrapper[data-feed-button="retweet"]:hover #tweet-icon-div {
    border-radius: 50%;
    background-color: var(--green-100);
}
.tweet-icon-wrapper[data-feed-button="retweet"]:hover svg {
    fill: rgb(23, 191, 99);
}

/*Share button styles*/
.tweet-icon-wrapper[data-feed-button="share"]:hover span {
    color: blue;
}
.tweet-icon-wrapper[data-feed-button="share"]:hover #tweet-icon-div {
    border-radius: 50%;
    background-color: var(--blue-100);
}
.tweet-icon-wrapper[data-feed-button="share"]:hover svg {
    fill: blue;
}
/*Comment button styles*/
.tweet-icon-wrapper[data-feed-button="comment"]:hover span {
    color: blue;
}
.tweet-icon-wrapper[data-feed-button="comment"]:hover #tweet-icon-div {
    border-radius: 50%;
    background-color: var(--blue-100);
}
.tweet-icon-wrapper[data-feed-button="comment"]:hover svg {
    fill: blue;
}




.icon-wrapper-flex {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}




.new-tweet-icon-svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(29,161,242,1.00);
    
}

.feed-tweet-icons label {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.feed-tweet-icons label:hover {
    
    background-color: var(--gray-200);
   
}



.feed-tweet-btn {
    background-color: var(--twitter-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 80px;
}

.feed-tweet-icons input {
    display: none;
}


.new-tweet-container {
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    padding: 10px;
    cursor: pointer;
    max-width: 620px; /*may need to change later*/
    
}

.new-tweet-img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.new-tweet-body {
    padding-left: 15px;
    width: calc(100% - 70px);
}

.new-tweet-icons {
    display: flex;
    width: calc(100% - 58px);
    justify-content: space-between;
    margin-top: 10px;
}

.new-tweet-name {
    font-size: 16px;
    font-weight: bold;
}


.new-tweet-text {
    word-wrap: break-word;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}



/* Edit Profile Styles */




/* Profile Skeleton User Tweet Div Styles */



/* User Following Page Styles */

.following-container {
    border: 1px solid var(--gray-200);
}

.following-top {
    height: 110px;
    border-bottom: 1px solid var(--gray-200);
}

.following-top-top {
    height: 50%;
}

.following-top-top p {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 0 15px;
}

.following-top nav {
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.following-top nav a {
    outline: none;
    background: transparent;
    width: 100%;
    font-weight: bold;
}

.load-followers-btn {
    border: none;
    text-decoration: none;
    width: 50%;
    color: gray;
}

.load-following-btn {
    color: var(--twitter-color);
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid rgb(26, 145, 218);
    width: 50%;
}


/* User Following Append Styles */

.user-following-container {
    max-height: 150px;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    position: relative;
}

.user-following-avatar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
}

.user-following-body {
    display: flex;
    flex-direction: column;
    
}

.user-following-top {
    display: flex;
    flex-direction: column;
    padding: 10px 0 25px 0;
}

.user-following-bottom {
    width: calc(100% - 15px);
}

.user-following-follow-btn {
    background-color: var(--twitter-color);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: 0.2s;
}

.user-following-follow-btn[data-follow-type="follow"] {
    background-color: var(--white);
    box-shadow: inset 0 0 0 1px var(--twitter-color);
    color: var(--twitter-color);
}

.user-following-follow-btn:hover::after {
    content: "Unfollow" !important;
}

.user-following-follow-btn[data-follow-type="following"]::after {
    content: "Following";
}

.user-following-follow-btn[data-follow-type="follow"]::after {
    content: "Follow";
}

.user-following-follow-btn:hover {
    background-color: rgb(202, 32, 85);
}

.user-following-follow-btn[data-follow-type="follow"]:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

/* User Follower Page Styles (inherits most from the following styles) */

.following-top nav a span {
    display: flex;
    justify-content: center;
    line-height: 55px;
    vertical-align: middle;
}

.load-followers-btn2 {
    color: var(--twitter-color);
    border: none;
    outline: none;
    text-decoration: none;
    border-bottom: 2px solid rgb(26, 145, 218);
    width: 50%;
   
}

.load-following-btn2 {
    border: none;
    text-decoration: none;
    width: 50%;
    color: gray;
}

#Following {
    background-color: var(--twitter-color);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 30px;
    height: 30px;
    width: 100px;
    position: absolute;
    top: 15px;
    right: 15px;
}

#Follow {
    background-color: white;
    color: var(--twitter-color);
    font-weight: bold;
    border: 1px solid var(--twitter-color);
    outline: none;
    border-radius: 30px;
    height: 30px;
    width: 80px;
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Explore Page Styles */

.explore-container {
    border: 1px solid var(--gray-200);
}

.explore-top {
    height: 120px;
    border-bottom: 1px solid var(--gray-200);
}

.explore-top-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.explore-top-top > input {
    border: none;
    outline: none;
    border-radius: 25px;
    width: 80%;
    height: 35px;
    background-color: var(--gray-200);
    padding-left: 35px;
    margin-left: 20px;
}

.explore-top-top > button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--twitter-color);
    margin-right: 20px;
}

.explore-top-top > button i {
    font-size: 20px;
}

.explore-top-bottom {
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.explore-top-bottom a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
    width: calc(650px / 6);
}

.explore-top-bottom a:hover {
    color: var(--twitter-color);
    background-color: rgb(197, 213, 223);

}

.explore-top-bottom a span {
    display: flex;
    justify-content: center;
    line-height: 60px;
    vertical-align: middle;
}

/* Bookmarks Page Styles */

.bookmarks-container {
    border: 1px solid var(--gray-200);
}

.bookmarks-top {
    height: 50px;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    justify-content: space-between;
}

.bookmarks-top-left {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.bookmarks-top > button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--twitter-color);
    margin-right: 20px;
    display: none; /*Only supposed to show when there is atleast 1 bookmark on their page*/
}

.bookmarks-span1 {
    font-size: 20px;
    font-weight: 800;
}

.bookmarks-span2 {
    font-size: 14px;
    color: gray;
}

.default-bookmark-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 39px;
    padding-bottom: 39px;
}

.default-bookmark-body span {
    margin-bottom: 8px;
}

/* Lists Page Styles */

.lists-container {
    border: 1px solid var(--gray-200);
}

.lists-top {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(--gray-200);
}

.lists-top-left {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.lists-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists-top-right button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--twitter-color);
    margin-right: 20px;
}

.lists-top-right button i {
    font-size: 20px;
}

.lists-pinned-container {
    height: 160px;
    border-bottom: 1px solid var(--gray-200);
}

.lists-pinned-top {
    height: 40px;
    border-bottom: 1px solid var(--gray-200);
}

.lists-pinned-top span {
    margin-left: 10px;
    line-height: 40px;
    vertical-align: middle;
}

.lists-pinned-body {
    height: 120px;
    text-align: center;
}

.lists-pinned-body span {
    display: block;
    margin-top: 40px;
    color: gray;
}

.lists-your-lists-top {
    height: 40px;
    border-bottom: 1px solid var(--gray-200);
}

.lists-your-lists-top span {
    margin-left: 10px;
    line-height: 40px;
    vertical-align: middle;
}

.lists-your-lists-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    margin-top: 30px;
}

.lists-your-lists-body button {
    background-color: var(--twitter-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 120px;
}

/* Notifacations Page Styling */

.notif-container {
    border: 1px solid var(--gray-200);
}

.notif-header {
    height: 110px;
    border-bottom: 1px solid var(--gray-200);
}

.notif-header-top {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notif-header-top > span {
    margin-left: 20px;
}

.notif-header-top button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--twitter-color);
    margin-right: 20px;
}

.notif-header-bottom {
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.notif-header-bottom a {
    text-decoration: none;
    font-weight: 800;
    outline: none;
    background: transparent;
    width: 100%;
}

.notif-header-bottom a:hover {
    background: rgba(29, 161, 242, 0.1);
}

.notif-header-bottom a span {
    display: flex;
    justify-content: center;
    line-height: calc(110px / 2);
    vertical-align: middle;
   
}

.notifactions-all-btn {
    color: var(--twitter-color);
    border-bottom: 2px solid rgb(26, 145, 218);
}

.notifactions-mentions-btn {
    color: gray;
}

.notif-default {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    row-gap: 6px;
}

/*Comment Append Div Styles*/

.comment-append {
    display: none;
    z-index: 99999999;
    width: 600px;
    height: 250px;
    border-radius: 15px;
}


.comment-div-top {
    height: 60px;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    align-items: center;
}

.comment-div-top svg {
    fill: var(--twitter-color);
    width: 25px;
    
}

.comment-div-poster-details {
    height: 40%;
}

.comment-div-commenter-details {
    height: 35%;
    display: flex;
    margin-left: 20px;
}

.comment-div-bottom {
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.comment-reply-btn {
    background-color: var(--twitter-color);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    height: 39px;
    width: 63px;
}

#exit-comment-btn {
    border: none;
    outline: none;
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
#exit-comment-btn:hover {
    border-radius: 50%;
    background-color: var(--blue-050);
}

/*Overriding the class styles in the comment modal*/
#comment-tweet-container {
    border-bottom: none;
    margin-bottom: 20px;
}
#comment-reply-container {
    border-bottom: none;
}
.replying-to-div {
    margin-top: 20px;
}
.replying-to-span1 {
    color: var(--gray-500);
}
.replying-to-span2 {
    color: var(--twitter-color);
}
#reply-textarea {
    border: none;
}

/* MODALS */

.modal {
    position: relative;
    z-index: 9999;
    background: var(--white);
    min-height: 350px;
    width: 550px;
    border-radius: 1rem;
    box-sizing: border-box;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
}

.modal-click-catcher {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000087;
}

/*Tweet Skeleton Page Styles*/

.tweet-page-container {
    border: 1px solid var(--gray-200);
}

.tweet-page-top {
    display: flex;
    align-items: center;
    column-gap: 30px;
    height: 50px;
    border-bottom: 1px solid var(--gray-200);
}

.tweet-page-top button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--twitter-color);
    margin-left: 20px;
}
.tweet-page-top button i {
    font-size: 20px;
}

.tweet-page-top > span {
    font-weight: bold;
    font-size: 20px;
}

#tweet-page-content {
    font-size: 23px;
}

.tweet-more-container {
    width: 150px;
    height: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
    right: 0;
    z-index: 9999;
    background: var(--white);
    border-radius: 5px;
    box-sizing: border-box;
}
.tweet-more-section {
    width: 100%;
    height: 40px;
}
.tweet-more-section svg {
    width: 20px;
}

